/* fixes to greyscale */
.navbar-nav li .dropdown-menu {
/*    background-color: rgba(255, 255, 255, 0.2);
    border-color: rgba(255, 255, 255, 0.2); */
    padding: 0px;
    background-color: #000;
}
.navbar-nav li .dropdown-menu li{
	background-color: rgba(255, 255, 255, 0.2);
}
.navbar-nav li .dropdown-menu li a{
	color: #FFF;
}
.navbar-nav li .dropdown-menu li.divider{
	margin: 0px;
}
.navbar-nav li.active ul.dropdown-menu li a:hover,
.navbar-nav li ul.dropdown-menu li.active a:focus,
.navbar-nav li ul.dropdown-menu li.active a:hover,
.navbar-nav li ul.dropdown-menu li.active a{
	color: #CCC;
}

/* changes for shinkendo theme */

@media(min-width:768px) {
	.intro .intro-body h1.brand-heading{
		font-size: 70px;
	}
}

a.navbar-brand img {
    display: inline-block;
}
a.navbar-brand span {
    vertical-align: middle;
}
.about-section {
    width: 100%;
    padding: 50px 0;
    color: #fff;
    /*background: url(../img/downloads-bg.jpg) no-repeat center center scroll;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;*/
}
