/* fixes to greyscale */
.navbar-nav li .dropdown-menu {
/*    background-color: rgba(255, 255, 255, 0.2);
    border-color: rgba(255, 255, 255, 0.2); */
    padding: 0px;
    background-color: #000;
}
.navbar-nav li .dropdown-menu li{
	background-color: rgba(255, 255, 255, 0.2);
}
.navbar-nav li .dropdown-menu li a{
	color: #FFF;
}
.navbar-nav li .dropdown-menu li.divider{
	margin: 0px;
}
.navbar-nav li.active ul.dropdown-menu li a:hover,
.navbar-nav li ul.dropdown-menu li.active a:focus,
.navbar-nav li ul.dropdown-menu li.active a:hover,
.navbar-nav li ul.dropdown-menu li.active a{
	color: #CCC;
}
.content-section {
    padding-top: 100px;
}
.content-section ul,
.content-section ol{
    margin: 0px 0px 35px;
}
.content-section ul li,
.content-section ol li{
	font-size: 20px;
}

/* changes for shinkendo theme */

/* RED: #82000C */

html body .red,
h1,h2,h3,h4,h5,h6{
	color: #82000C; 
}
h1.brand-heading{
font-family: Lora,"Helvetica Neue",Helvetica,Arial,sans-serif;	
}
@media(min-width:768px) {
	.intro .intro-body h1.brand-heading{
		font-size: 70px;
	}
}

a.navbar-brand img {
    display: inline-block;
}
a.navbar-brand span {
    vertical-align: middle;
}
.about-section {
    width: 100%;
    padding: 50px 0;
    color: #fff;
    /*background: url(../img/downloads-bg.jpg) no-repeat center center scroll;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;*/
}
.video-section{
	padding-bottom: 100px;
}
section p .inline-picture {
	display: block; 
	margin-top:10px;
}

section .picture{
    display: block;	
    margin: auto;
    margin-bottom: 35px;
}

section h5 {
	margin-bottom: 10px;
}


.videowrapper {
    float: none;
    clear: both;
    width: 100%;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
}
.videowrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media (min-width:992px) {
	section p .inline-picture { 
	    float: left; 
	    margin-right:10px; 
	}
	section .picture {
	   width: 600px;
	}
	.videowrapper {
	   
	}
	section #ggg{
	    width: 400px; 
	    border: 40px solid #FFF;
    }
}
@media (min-width:768px) and (max-width:992px) {
    section p .inline-picture { 
        margin:auto;
        margin-bottom: 20px; 
    }
    section .picture {
       width: 400px;
    }
    .videowrapper {
       
    }
    section #ggg{
        width: 300px; 
        border: 30px solid #FFF;
    }
}

@media(max-width:768px) {
    section p .inline-picture { 
        margin:auto;
        margin-bottom: 20px; 
    }
    section .picture {
       width: 300px;
    }
    section #ggg{
        width: 200px; 
        border: 10px solid #FFF;
    }
}

section.content-section p,
section.content-section table tr th,
section.content-section table tr td,
section.content-section ul li,
section.content-section ol li{
    font-size: 18px;
}

section .videowrapper {
	margin: 20px auto;
}

section.content-section table tr th,
section.content-section table tr td {
    padding: 5px;
	vertical-align: top;
}
section.content-section table tr th{
    padding-top: 20px;
}

section .instructors-section ul,
section .dojo-section ul{
	list-style: none;
	padding:0px;
}

#map{
	margin-top:0px;
}
img.icon {
    width: 16px;
    display: inline-block;
}
a img.icon {
  background-color: #42DCA3;
}

.intro{
    background-image: url(../img/way_3.jpg);
    /* background-image: url(../img/way_2.jpg); */
    /* background-image: url(../img/fight.jpg); */
}

#training{
	display: table;
    width: 100%;
    height: 500px;
    /* text-align: center; */
    color: #FFF;
    background: url(../img/training_3.jpg) no-repeat top center scroll;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

#tree{
    display: table;
    width: 100%;
    height: 700px;
    /* text-align: center; */
    color: #FFF;
    background: url(../img/tree_2.jpg) no-repeat center center scroll;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;  
}

#ablogo{
    display: table;
    width: 100%;
    height: 300px;
    /* text-align: center; */
    color: #FFF;
    background: url(../img/aikibujitsulogo_mini.jpg) no-repeat center center scroll;
    background-color: #FFF; 
    -webkit-background-size: 100px;
    -moz-background-size: 100px;
    background-size: 100px;
    -o-background-size: 100px;
}

#wood{
    display: table;
    width: 100%;
    height: 180px;
    /* text-align: center; */
    color: #FFF;
    background: url(../img/wood_2.jpg) no-repeat center center scroll;
    background-color: #000;
    -webkit-background-size: 200px;
    -moz-background-size: 200px;
    background-size: 200px;
    -o-background-size: 200px;
}

#byron{
    display: table;
    width: 100%;
    height: 700px;
    /* text-align: center; */
    color: #FFF;
    background: url(../img/byron.jpg) no-repeat center center scroll;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

#clem{
    display: table;
    width: 100%;
    height: 700px;
    /* text-align: center; */
    color: #FFF;
    background: url(../img/clem.jpg) no-repeat center center scroll;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;  
}

#fight{
    display: table;
    width: 100%;
    height: 500px;
    /* text-align: center; */
    color: #FFF;
    background: url(../img/fight_2.jpg) no-repeat top center scroll;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
div.background-white{
    padding: 0px;
    margin: 0px;
    color: #000;
    background-color: #FDFDFD;
    width: 100%;
}
div.background-grey{
    padding: 0px;
    margin: 0px;
    color: #000;
    background-color: #DDD;
    width: 100%;
}
div.background-dark{
    padding: 0px;
    margin: 0px;
    color: #FFF;
    background-color: #2a2a2a;
    width: 100%;
}
